<!-- Conference Abstract Book -->
<div class="abstract-submission">
  <div class="content-wrapper">
    Dear Colleague; <br><br>
    Thank you for your interest in the II. International Conference on Computational and Statistical Methods in Applied Sciences (COSTAS 2019)  taking place on 19-22 September, 2019 in Samsun, Turkey.<br><br>
    The draft of COSTAS 2019 <a href="{{ site.abstractBookUrl | prepend: site.baseurl }}" class="">Abstract Book</a> has been announced.<br><br>
    if there is any problem related to your studies, please inform us via e-mail (costas2019@omu.edu.tr) until on September 29, 18:00.<br><br>
    With best regards.<br><br>
    COSTAS 2019 Organizing Committee
  </div>
</div>
<!-- End Conference Abstract Book -->
